@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}
body {
    background-image: url("./images/background.png");
}

.container{
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 100px;
}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

}

.tasks:hover img{
    opacity: 1;
}
.inputTask{
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 8px;
}
.buttonAddTask{
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #003329;
    color: white;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight: 600;
}
.buttonAddTask:hover{
    opacity: 0.8;
}
.buttonAddTask:active{
    opacity: 0.6;
}
.listTasks {
    width: 100%;
    list-style: none;
    margin-top: 30px;
}
.tasks {
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}
.done {
    background-color: #2e7941;
    text-decoration: line-through;
}